[package]
name = "xtask"
version.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "xtask"

[dependencies]
anyhow = "1"
clap = { version = "4.3.22", features = ["derive"] }
duct = "0.13.6"
colored = "2.0.4"
fs_extra = "1.3.0"
open = "5.0.0"
dialoguer = "0.11.0"