name: Mint Release

on:
    push:
      # Sequence of patterns matched against refs/tags
      tags:
        - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
      branches: main

jobs:
    validate:
        uses: "./.github/workflows/build.yml"

    publish:
        permissions:
            contents: write
        needs: validate
        runs-on: ubuntu-latest
        steps:
            - name: Check semver
              uses: obi1kenobi/cargo-semver-checks-action@v2

            - name: Create Github Release
              id: create_release
              uses: actions/create-release@v1
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
              with:
                tag_name: ${{ github.ref }}
                release_name: Release ${{ github.ref }}
                draft: false
                prerelease: false

            - name: publish crates.io
              run: |
                cargo publish --dry-run -p shakespeare-macro -p shakespeare --token ${{ secrets.CRATESIO_TOKEN }}







